body{
	font-family: Courier New;
	margin: 0vh;
}
 /*- - - H E A D E R- - - */

#header1{
	border: 1vh;
	height: 7vh;
	background-color: black;
}
nav{
	border-bottom:  0.5vh solid black;
	height: 20vh;
	background-color: #d17575;	
}
#social{
	float: right;
	margin-top: 1vh;
	margin-right: 1vw ;
	height: 5vh;
	width: 5vh;
}
#social:hover {
	border:0.1vh solid white;
	height: 6vh;
	width: 5.5vh;
}
#logo{
	margin-top: -1vh;
	float: left;
	widows: 10vw;
	height: 23vh;
}
/* - - - L I S T - - - */
ul{
	margin-top: -2.4vh;
	list-style: none;
}
li{
	
	margin-top: 13vh;
	padding: 0.5vh;
	float: left;
	margin-left: 8vw; 
	font-size: 2.8vh;
	
}
a{
	color: inherit;
}
li:hover{   
	color: white;
}
#selected{
	font-weight: bolder;
}
/* - - - F O O T E R - - -*/

footer{
	float: none;
	border-bottom:  0.5vh solid black;
	border-top:  0.5vh solid black;
	height: 10vh;
	background-color: #d17575;
}
section{
	
	background-image: url("../images/back.png");
	background-size:50%;
	background-repeat:repeat;
	height: 62.5vh;
	
}
#background{
	background-color:black;
	background-image: url("../images/background.png");
	background-repeat:no-repeat;
	background-size:60%;
	border:0.5vh solid white;
}
aside{
	float: left;
	margin-top: 6vh;
	margin-left: -9vw;
	width: 35vw;
	height: 50vh;
}

article{
	margin-left: 5vw;
	margin-top:-2vh;
	font-size: 3vh;
	width: 40vw;
	height: 42vh;
	float: left;
	padding: 2vw;
	color:white;
}
h1{
	color: white;

	text-shadow: 0.4vh 0.4vh 0.4vh #3f6ba9;
}
#main{
	width:35vw;
	height: 50vh;
	border-radius: 1vh 1vh 1vh 1vh;
}